<ion-view title="Cardio" id="page5" class=" ">
    <ion-content padding="true" style="background: url(img/YwaAXqW8SK0sjBWs4OXf_sport-1013905_960_720.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
        <h2 id="cardio-heading3" style="color:#000000;text-align:center;" class=" ">Sum up your Cardiovascular excercises</h2>
        <form id="cardio-form3" class="list ">
            <label class="item item-input " id="cardio-input3">
                <input type="text" placeholder="Time of cardio">
            </label>
            <div class="spacer" style="width: 283px; height: 23px;"></div>
            <label class="item item-select " id="cardio-select2">
                <span class="input-label">Type of Activity</span>
                <select>
                    <option>Elliptical</option>
                    <option>HIIT Routine</option>
                    <option>Jogging</option>
                    <option>Martial Arts</option>
                    <option>Rowing</option>
                    <option>Sports</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>