<ion-view title="Excercise" id="page4" class=" ">
    <ion-content padding="true" style="background: url(img/UUkltLJeQnCcDmZLYECA_power-sports-1015688_960_720.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
        <h1 id="excercise-heading2" style="color:#000000;font-weight:400;text-align:center;" class=" ">Sum up your daily excercise</h1>
        <form id="excercise-form1" class="list ">
            <ion-checkbox name="Stretching">Did you Stretch?</ion-checkbox>
            <div class="spacer" style="width: 283px; height: 15px;"></div>
            <label class="item item-input " id="excercise-input1">
                <input type="text" placeholder="Time of excercise">
            </label>
        </form>
    </ion-content>
</ion-view>